{% extends 'adminpanel/base.html' %}
{% block content %}

  
    <div class="row m-4 justify-content-end">
      <a
      class="btn btn-outline-primary"
      href="{% url 'add_product' %}"
      role="button"
      >Add Product</a
    >
    </div>
  
   <table
     id="example"
     class="table table-striped"
     cellspacing="0"
     width="100%"
     style="margin-top: 10px"
   >
     <thead>
       <tr>
         <th>No.</th>
         <th>Image</th>
         <th>Product Name</th>
         <th>Discription</th>
         <th>Price</th>
         <th>Stocks Available</th>
         <th>Brand</th>
         <th>Category</th>
         <th>Created Date</th>
         <th>Edit</th>
         <th>Delete</th>
       </tr>
     </thead>
   
     <tbody>
       {% for product in products %}
       <tr class="text-center">
         <td>{{forloop.counter}}</td>     
         <td><img src="{{product.image1.url}}" alt="profile_pic" style="width: 50px; height: 50px;"></td>
         <td>{{product.product_name}}</td>
         <td>{{product.description}}</td>
         <td>{{product.price}}</td>
         <td>{{product.stock}}</td>
         <td>{{product.brand}}</td>
         <td>{{product.category}}</td>
         <td>{{product.created_date}}</td>
         <td><a href="{% url 'edit_product' product.id %}"><i class="fas fa-edit"></i></a></td>
         <td><a onclick="deleteItems(event)" name="{{product.product_name}}" href="{% url 'delete_product' product.id %}"><i class="fas fa-trash"></i></a></td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

   
 
{% endblock %}
