{%  extends 'adminpanel/base.html' %}
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %} 


{% block content %}
        <div class="container p-5 col-6">
          {% include "includes/messages.html" %}
          <!--Django Model Form-->
          <h2 class="my-4 mb-4 text-center">Add a new brand</h2>
          <form method="POST"  action="{% url 'add_brand' %}"  enctype="multipart/form-data">
            {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary my-4" type="submit">Submit</button>
          </form>
        </div>

        <div class="mt-5">
          <label for="">IMAGE 1</label>
          <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
          <div id="preview1"></div>
          <input type="file" name="image1" id="file1" class="form-control"
              onchange="return fileValidation1()">
      </div>

      <div class="col-12">
        <div id="image-box" style="width: 500px; height: 500px; display: none;"></div>
        <button class="btn btn-primary mt-3" type="button" style="display: none;"
            id="crop-btn">Crop</button>
    </div>

    <button id="confirm-btn" type="submit" class="btn btn-primary">Add Product</button><br>
<script>
    function fileValidation1() {
      const imagebox = document.getElementById('image-box')
      const crop_btn = document.getElementById('crop-btn')
      var fileInput = document.getElementById('file1');

      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg)$/i;
      if (!allowedExtensions.exec(filePath)) {
          alert('Please upload file having extensions .jpeg only.');
          fileInput.value = '';
          return false;
      } else {
          //Image preview
          const img_data = fileInput.files[0]
          const url = URL.createObjectURL(img_data)
          imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
          const image = document.getElementById('image')
          document.getElementById('image-box').style.display = 'block'
          document.getElementById('crop-btn').style.display = 'block'
          document.getElementById('confirm-btn').style.display = 'none'

          const cropper = new Cropper(image, {
              autoCropArea: 1,
              viewMode: 1,
              scalable: false,
              zoomable: false,
              movable: false,
              aspectRatio: 16 / 19,
              //  preview: '.preview',
              minCropBoxWidth: 180,
              minCropBoxHeight: 240,
          })
          crop_btn.addEventListener('click', ()   => {
              cropper.getCroppedCanvas().toBlob((blob) => {
                  let fileInputElement = document.getElementById('file1');
                  let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                  let container = new DataTransfer();

                  container.items.add(file);
                  const img = container.files[0]
                  var url = URL.createObjectURL(img)
                  fileInputElement.files = container.files;
                  document.getElementById('imgview1').src = url
                  document.getElementById('image-box').style.display = 'none'
                  document.getElementById('crop-btn').style.display = 'none'
                  document.getElementById('confirm-btn').style.display = 'block'
              });
          });
      }
  }


</script>
{% endblock %}